.main{
  background-color: cadetblue;
  height: 600px;

}
.box{
  padding-left: 30px;
  padding-top: 20px;
  margin-left:  350px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgb(247, 217, 233);
  height: 500px;
  width: 500px;
}
.inbox{
  text-align: center;
  height: 25px;
  width: 180px;
  margin-top: 20px;
}